.Component__Navbar {
    display: flex;
    height: 93px;
    background: var(--color-bar);
    align-items: center;
}

.Component__Navbar-Menu {
    margin-left: 40px;
    position: relative;
    width: 20%;
}


.Component__Navbar-Menu svg {
    cursor: pointer;
}

/* .Menu__Container-Link {

} */
.Navbar__Menu-Container {
    display: flex;
    position: absolute;
    padding: 10px 10%;
    text-align: start;
    background: var(--color-bg) ;
    border-radius: 10px;


}

.Navbar__Menu-Container p {
    font-family: var(--font-family2);
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

/* .Component__Navbar-Menu img {
    cursor: pointer;
} */
