.Component__Footer_Container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background: var(--color-bg);
    position: relative;
}

.Footer__Title, .Footer__Email {
    display: flex;
    justify-content: center;
}

.Footer__Title p {
    font-family: var(--font-family2);
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    margin: 0 0;
}
.Footer__Email p {
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.Footer__Icons {
    display: flex;
    justify-content: center;
}

.FacebookIcon:hover {
    color: var(--color-bar);
    transition: 0.5s;
}

.LinkedinIcon:hover {
    color: var(--color-bar);
    transition: 0.5s;
}

.Footer__Img {
    position: absolute;
    bottom: 28.4%;
    right:80%;

}

.Footer__Img img {
    height: 80px;
}
