.Component__Wing_Container {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.Component__Wing_Calculation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Component__Wing_Input {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
}

.Component__Wing_Geometry {
    display: flex;
    flex: 1 1;
    justify-content: center;
    margin: 0 5%;
    margin-top: 2rem;
}
.Geometry__Canvas {
    position: relative;
}

.Geometry__WingSpan {
    position: absolute;
    bottom: 100%;
    right: 45%;
    font-family: var(--font-family2);
}

.Geometry__Chord {
    position: absolute;
    font-family: var(--font-family2);
    top: 50%;
    right: 100%;
    transform: rotate(270deg);
}

.Component__Wing_Geometry canvas {
    background: var(--color-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.Component__Wing_Input h2 {
    margin-top: 0;
    font-family: var(--font-family3);
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: var(--color-bar);
    margin-bottom: 27px;
    text-align: center;
}

.Component__Wing_Style {
    margin: 0 10%;
    padding: 20px 20px;
    background-color: var(--color-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 45%;
    /* display: flex;
    flex-direction: column;
    justify-items: center; */
}

.Component__Wing_Style select {
    display: flex;
    width: 60%;
    height: 25px;
    margin: 16px 0;
    background-color: var(--color-output);
    border-radius: 6px;
    font-family: var(--font-family2);
}

.Component__Wing_Style .Feature__Container_Input input {
    background-color: var(--color-input);
    border-radius: 6px;
}

.Wing__Selection h3 {
    font-family: var(--font-family3);
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.Component__Wing_Airfoil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Component__Wing_Airfoil h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: var(--color-bar);
    font-family: var(--font-family3);
    margin-bottom: 16px;

}

.Airfoil__Selection {
    width: 20%;
    padding: 20px 20px;
    background-color: var(--color-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.Airfoil__Selection h3{
    font-family: var(--font-family3);
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.Airfoil__Selection select {
    height: 25px;
    width: 70%;
    margin: 16px 0;
    background-color: var(--color-output);
    border-radius: 6px;
    font-family: var(--font-family2);
}

.Airfoil__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Airfoil__Header img {
    width: 20px;
    height: 20px;
    background-color: var(--color-input);
    border-radius: 100%;
    cursor: pointer;
}

.Component__Wing_Result {
    display: flex;
    flex-direction: column;
    margin:50px 7%;
    background: var(--color-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.Component__Wing_Result h2 {
    font-family: var(--font-family3);
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: var(--color-bar);
    margin-bottom: 13px;
    margin-left: 3%;
}

.Wing__Result_Style {
    display: flex;
    justify-content: space-evenly

}

