@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

:root {
    --font-family: 'Cormorant Garamond', serif ;
    --font-family2: 'Jost', serif ;
    --font-family3: 'Noto Sans', sans-serif;

    --color-bg: #FDF4E9;
    --color-bar: #F6623E;
    --color-input: #E9E9E9;
    --color-output:#FBE6D2;
    
}

body {
    background: var(--color-bg);
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

.scale_up_center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @-webkit-keyframes scale_up_center {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }