.Home__Footer_container {
    display: flex;
    margin: 20vh 50px;
    margin-bottom: 5vh;
    position: relative;
    flex-direction: column;
    width: 95%;
    /* gap: 200px; */

}

/* .Home__Footer_Content {
    display: flex;
    flex-direction: column;
} */


.Footer__Content {
    display: flex;
    flex-direction: column;
}

.Home__footer_container_space div {
    width: 312.76px;
}

.Home__Footer_container_quote {
    position: absolute;
}
.Home__Footer_container_quote p {
    font-family: var(--font-family2);
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

.Footer__Title, .Footer__Email {
    display: flex;
    justify-content: center;
}

.Footer__Title p {
    font-family: var(--font-family2);
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    margin: 0 0;
}
.Footer__Email p {
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.Footer__Icons {
    display: flex;
    justify-content: center;
}

.FacebookIcon:hover {
    color: var(--color-bar);
    transition: 0.5s;
}

.LinkedinIcon:hover {
    color: var(--color-bar);
    transition: 0.5s;
}

.Footer__Img {
    position: absolute;
    bottom: 28.4%;
    right:80%;

}

.Footer__Img img {
    height: 80px;
}
