.threeBox {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}
.Wing, .Tail, .cgBox {
    flex: 0.23;
    width: 100%;
}
.Component__Wing_Airfoil, .Component__Tail_Airfoil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .Component__Wing_Airfoil h2, .Component__Tail_Airfoil h2{
    font-size: 40px;
    line-height: 70px;
    color: var(--color-bar);
    font-family: var(--font-family3);
    margin-bottom: 16px;
} */

.Airfoil__Selection {
    width: 10rem;
    padding: 20px 20px;
    background-color: var(--color-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.positionCG h3,.Airfoil__Selection h3{
    font-family: var(--font-family3);
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.Airfoil__Selection select {
    height: 25px;
    width: 70%;
    margin: 16px 0;
    background-color: var(--color-output);
    border-radius: 6px;
    font-family: var(--font-family2);
}

.Airfoil__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cgTitleQuestion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cgBox { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Component__Wing_Airfoil h2, .Component__Tail_Airfoil h2,.cgBox h2 {
    font-size: 20px;
    line-height: 40px;
    color: var(--color-bar);
    font-family: var(--font-family3);
    margin: 0px;
}


.positionCG {
    width: 10rem;
    height: 8rem;
    padding: 20px 20px;
    background-color: var(--color-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.positionCG h3{
    margin: 1%;
}

.positionCG {
    z-index: 0;
}

.cgInput {
    margin-top: 1.6rem;
    background-color: var(--color-output);
    border-radius: 6px;
    border: solid 1px;
    height: 1.3rem;
}

.cmAlphaBox {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 10rem;
}
.result{
    text-align: center; 
    align-items: center; 
}
.resultBox {
    display: flex;
    flex-direction: row;
}
.CancelCmAlpha {
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    background-color: red;
    width: 10rem;
    border-radius: 1rem;
}

.CheckCmAlpha {
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color:  white;
    background-color: green ;
    width: 10rem;
    border-radius: 1rem;
}
/* .icon {
    font-size: 100rem;
} */
.CheckinfoBox, .CancelinfoBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    left: 0%;
    width: 50rem;
    background-color:var(--color-bg); 
    border-radius: 10px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CheckinfoBox li {
    padding: 0.7rem 0.3rem; 
    margin-left: 3rem;
    text-align: start;
}
